.big-wrap {
  padding: 0 15px;
  /* background: yellow; */
  height: 100vh;
}
.big-wrap h1 {
  text-align: center;
  padding: 20px 5px;
  color: #fff;
}
.main-game-wrap {
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid violet;
  border-radius: 30px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  min-height: 500px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
/* .rules, .play {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
} */
/* .main-game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */
.btn-wrap, .play {
  display: flex;
  justify-content: center;
}
.main-btn {
  padding: 1rem 1.5rem;
  border-radius: 15px;
  border: 1px solid #fff;
  background: yellow;
  color: #fff;
  font-size: 1.5rem;
  color: blue;
  font-weight: bold;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  min-width: 150px;
}
.main-btn.rules-btn {
  margin-bottom: 20px;
}
.hidden-content {
  display: none;
  color: #fff;
}

/* 인게임 */
.in-game {
  display: none;
}
.in-game h2 {
  text-align: center;
  color: yellow;
  padding: 5px 0;
}
.in-game input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 0;
}
.game-btn {
  padding: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  background: #075b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-btn.submit {
  margin: 0 auto;
  width: 90px;
  height: 90px;
}
.game-btn.reset {
  background-color: cornflowerblue;
}
.game-btn.go-back {
  background-color:darkorange;
}
.bottom-btn {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-area {
  padding: 10px 0;
  color: yellow;
}
.answer {
  display: none;
}